.LoginTextField
{
    border-radius: 16;
 background-color: 'transparent';
 shadow-color: 'black';
 shadow-offset: {
   width: 0,
   height: 1,
 };
 shadowOpacity: 0.22;
 shadowRadius: 2.22;
 elevation: 3
}